<header class="header" id="topo">
    <div class="container header__container">


    <a
        href="{{ '/' | relative_url }}"
        class="header__logo"
        aria-label="Kelvin Saldanha - Início"
    >
        Kelvin Saldanha
    </a>

    <nav class="nav" aria-label="Navegação principal">

        <button
            class="nav__toggle"
            id="nav-toggle"
            aria-expanded="false"
            aria-controls="nav-menu"
            aria-label="Abrir menu"
        >
            <span class="nav__toggle-bar"></span>
            <span class="nav__toggle-bar"></span>
            <span class="nav__toggle-bar"></span>
        </button>

        <ul class="nav__menu" id="nav-menu">

            <li class="nav__item">
                <a
                    href="{{ '/' | relative_url }}"
                    class="nav__link {% if page.url == '/' or page.url == '/index.html' %}active{% endif %}"
                >
                    Home
                </a>
            </li>

            <li class="nav__item">
                <a
                    href="{{ '/sobre.html' | relative_url }}"
                    class="nav__link {% if page.url == '/sobre.html' %}active{% endif %}"
                >
                    Sobre
                </a>
            </li>

            <li class="nav__item">
                <a
                    href="{{ '/habilidades.html' | relative_url }}"
                    class="nav__link {% if page.url == '/habilidades.html' %}active{% endif %}"
                >
                    Habilidades
                </a>
            </li>

            <li class="nav__item">
                <a
                    href="{{ '/projetos.html' | relative_url }}"
                    class="nav__link {% if page.url == '/projetos.html' %}active{% endif %}"
                >
                    Projetos
                </a>
            </li>

            <li class="nav__item">
                <a
                    href="{{ '/experiencias.html' | relative_url }}"
                    class="nav__link {% if page.url == '/experiencias.html' %}active{% endif %}"
                >
                    Experiências
                </a>
            </li>

            <li class="nav__item">
                <a
                    href="{{ '/formacao.html' | relative_url }}"
                    class="nav__link {% if page.url == '/formacao.html' %}active{% endif %}"
                >
                    Formação
                </a>
            </li>

            <li class="nav__item">
                <a
                    href="{{ '/publicacoes.html' | relative_url }}"
                    class="nav__link {% if page.url == '/publicacoes.html' %}active{% endif %}"
                >
                    Publicações
                </a>
            </li>

            <li class="nav__item">
                <a
                    href="{{ '/conquistas.html' | relative_url }}"
                    class="nav__link {% if page.url == '/conquistas.html' %}active{% endif %}"
                >
                    Conquistas
                </a>
            </li>

            <li class="nav__item">
                <a
                    href="{{ '/contato.html' | relative_url }}"
                    class="nav__link {% if page.url == '/contato.html' %}active{% endif %}"
                >
                    Contato
                </a>
            </li>

        </ul>
    </nav>

</div>


</header>
